/* app css stylesheet */

.disabled a {
  color:gray;
}
.active a {
	color: black;
	text-decoration: none;
}
.pagination li {
	display:inline-block;
	margin:0 10px;
}

a.active {
	color:red;
	text-decoration: none;
}
a.active:after {
	content: "\25B2";
}
a.desc {
	color:green;
}
a.desc:after {
	content: "\25BC";
}

.odd {
	background:#eee;
}