<h2>AngularJS Table Prototype</h2>
<p>Using AngularJS to build table from a json object. <a href="https://github.com/lancevo/ngtable">Source code</a>
<p>
Search everything: <input ng-model="query.$" ng-change="searchPolicy()" >
</p>
<p>
Search Agent Name: <input ng-model="query.writingAgentName" ng-change="searchPolicy()">
</p>
<table>
<colgroup>
		<col>
		<col>
		<col>
		<col>
		<col>
		<col>
		<col>
		<col>
		<col>
		<col>
		<col>
		<col>
</colgroup>

	<thead>
		<tr>
			<th><a href="" 
						ng-click="sortBy('id')"
						ng-class="selectedColumn('id')">#</a></th>
			<th><a href 
						ng-click="sortBy('writingAgentName')"
						ng-class="selectedColumn('writingAgentName')">Writing Agent Name</a></th>
			<th><a href 
						ng-click="sortBy('writingAgentNumber')"
						ng-class="selectedColumn('writingAgentNumber')">Writing Agent Number</a></th>
			<th><a href 
						ng-click="sortBy('receivedDate')"
						ng-class="selectedColumn('receivedDate')">Received Date</a></th>
			<th><a href 
						ng-click="sortBy('policyEffectiveDate')"
						ng-class="selectedColumn('policyEffectiveDate')">Policy Effective Date</a></th>
			<th><a href="" 
						ng-click="sortBy('insuredAnnuitantName')"
						ng-class="selectedColumn('insuredAnnuitantName')">Insured/ Annuitant Name</a></th>
			<th><a href="" 
						ng-click="sortBy('policyNumber')"
						ng-class="selectedColumn('policyNumber')">Policy Number</a></th>
			<th><a href="" 
						ng-click="sortBy('product')"
						ng-class="selectedColumn('product')">Product</a></th>
			<th><a href="" 
						ng-click="sortBy('qualifiedPlanType')"
						ng-class="selectedColumn('qualifiedPlanType')">Qualified Plan Type</a></th>
			<th><a href="" 
						ng-click="sortBy('policyStatus')"
						ng-class="selectedColumn('policyStatus')">Policy Status</a></th>
			<th><a href 
						ng-click="sortBy('accumulationAnnuitizationValue')"
						ng-class="selectedColumn('accumulationAnnuitizationValue')">Accumulation/ Annuitization Value</a></th>
			<th><a href="" 
						ng-click="sortBy('ownerName')"
						ng-class="selectedColumn('ownerName')">Owner Name</a></th>
		</tr>
	</thead>

	<tfoot>
		<tr>
			<td colspan="12">
				 <div pagination></div>
			</td>
		</tr>
	</tfoot>

	<tbody list-limit="10">

	<tr ng-repeat="policy in groupedItems[currentPage]" ng-class-odd="'odd'" ng-class-even="'even'">
		<td>{{policy.id}}</td>
		<td>{{policy.writingAgentName}}</td>
		<td>{{policy.writingAgentNumber}}</td>
		<td>{{policy.receivedDate | date:'dd MMM yyyy'}}</td>
		<td>{{policy.policyEffectiveDate | date:'dd MMM yyyy'}}</td>
		<td>{{policy.insuredAnnuitantName}}</td>
		<td>{{policy.policyNumber}}</td>
		<td>{{policy.product}}</td>
		<td>{{policy.qualifiedPlanType}}</td>
		<td>{{policy.policyStatus}}</td>
		<td>{{policy.accumulationAnnuitizationValue | currency:"$"}}</td>
		<td>{{policy.ownerName}}</td>
	</tr>


	</tbody>
</table>