<h2>AngularJS Table Prototype</h2>
<p>Using AngularJS to build table from a json object.
<p>
Search everything: <input ng-model="query.$" ng-change="searchPolicy()" >
</p>
<p>
Search Agent Name: <input ng-model="query.writingAgentName" ng-change="searchPolicy()">
</p>
<table>
<colgroup>
		<col>
		<col>
		<col>
		<col>
		<col>
		<col>
		<col>
		<col>
		<col>
		<col>
		<col>
		<col>
</colgroup>

	<thead>
		<tr>
			<th><a href="" 
						ng-click="sortBy('id')"
						ng-class="{active: predicate =='id', desc: predicate =='id' && reverse ==false}">#</a></th>
			<th><a href 
						ng-click="sortBy('writingAgentName')"
						ng-class="{active: predicate =='writingAgentName', desc: predicate =='writingAgentName' && reverse ==false}">Writing Agent Name</a></th>
			<th>Writing Agent Number</th>
			<th>Received Date</th>
			<th>Policy Effective Date</th>
			<th>Insured/ Annuitant Name</th>
			<th>Policy Number</th>
			<th>Product</th>
			<th>Qualified Plan Type</th>
			<th>Policy Status</th>
			<th>Accumulation/ Annuitization Value</th>
			<th>Owner Name</th>
		</tr>
	</thead>

	<tfoot>
		<tr>
			<td colspan="12">
				 <div pagination></div>
			</td>
		</tr>
	</tfoot>

	<tbody list-limit="5">

	<tr ng-repeat="policy in groupedItems[currentPage]" ng-class-odd="'odd'" ng-class-even="'even'">
		<td>{{policy.id}}</td>
		<td>{{policy.writingAgentName}}</td>
		<td>{{policy.writingAgentNumber}}</td>
		<td>{{policy.receivedDate}}</td>
		<td>{{policy.policyEffectiveDate}}</td>
		<td>{{policy.insuredAnnuitantName}}</td>
		<td>{{policy.policyNumber}}</td>
		<td>{{policy.product}}</td>
		<td>{{policy.qualifiedPlanType}}</td>
		<td>{{policy.policyStatus}}</td>
		<td>{{policy.accumulationAnnuitizationValue | formatCurrency}}</td>
		<td>{{policy.ownerName}}</td>
	</tr>


	</tbody>
</table>